USE [master]
GO
/****** Object:  Database [stage]    Script Date: 03/09/2021 12:44:16 ******/
CREATE DATABASE [stage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'stage', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\stage.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'stage_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\stage_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [stage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [stage]
GO
/****** Object:  Table [dbo].[datahour]    Script Date: 03/09/2021 12:44:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datahour](
	[id] [int] NULL,
	[empname] [varchar](120) NULL,
	[date] [date] NULL,
	[hours] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employe]    Script Date: 03/09/2021 12:44:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employe](
	[id] [int] NULL,
	[Code] [nchar](120) NULL,
	[FullName] [nchar](120) NULL,
	[compVacation] [int] NULL,
	[Formation] [int] NULL,
	[Differance] [int] NULL,
	[TotalHourFacture] [int] NULL,
	[TotalMF] [int] NULL,
	[type] [nchar](120) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[emplyerprojet]    Script Date: 03/09/2021 12:44:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emplyerprojet](
	[projet] [varchar](120) NULL,
	[employee] [varchar](120) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Previsions]    Script Date: 03/09/2021 12:44:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Previsions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[projet] [varchar](50) NULL,
	[date] [date] NULL,
	[Employee] [varchar](50) NULL,
	[nb_mois] [int] NULL,
	[client] [varchar](50) NULL,
 CONSTRAINT [PK_Previsions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[datahour] ([id], [empname], [date], [hours]) VALUES (1, N'Pierre', CAST(N'2021-08-04' AS Date), 9)
INSERT [dbo].[datahour] ([id], [empname], [date], [hours]) VALUES (2, N'Pierre', CAST(N'2021-08-05' AS Date), 9)
INSERT [dbo].[datahour] ([id], [empname], [date], [hours]) VALUES (3, N'Pierre', CAST(N'2021-08-06' AS Date), 7)
GO
INSERT [dbo].[Employe] ([id], [Code], [FullName], [compVacation], [Formation], [Differance], [TotalHourFacture], [TotalMF], [type]) VALUES (1, N'DHCNFJ12                                                                                                                ', N'Pierre                                                                                                                  ', 10, 12, 45, 14, 12, N'D                                                                                                                       ')
INSERT [dbo].[Employe] ([id], [Code], [FullName], [compVacation], [Formation], [Differance], [TotalHourFacture], [TotalMF], [type]) VALUES (2, N'RHCNFJ12                                                                                                                ', N'REDA                                                                                                                    ', 10, 12, 45, 14, 12, N'K                                                                                                                       ')
INSERT [dbo].[Employe] ([id], [Code], [FullName], [compVacation], [Formation], [Differance], [TotalHourFacture], [TotalMF], [type]) VALUES (3, N'RHCNFJ12                                                                                                                ', N'MARSHALL                                                                                                                ', 10, 12, 45, 14, 12, N'A                                                                                                                       ')
GO
INSERT [dbo].[emplyerprojet] ([projet], [employee]) VALUES (N'hj', N'Pierre')
INSERT [dbo].[emplyerprojet] ([projet], [employee]) VALUES (N'hj', N'REDA')
INSERT [dbo].[emplyerprojet] ([projet], [employee]) VALUES (N',;,;', N'Pierre')
GO
SET IDENTITY_INSERT [dbo].[Previsions] ON 

INSERT [dbo].[Previsions] ([id], [projet], [date], [Employee], [nb_mois], [client]) VALUES (34, N'web', CAST(N'2021-08-13' AS Date), N'Pierre', 12, NULL)
INSERT [dbo].[Previsions] ([id], [projet], [date], [Employee], [nb_mois], [client]) VALUES (35, N'web', CAST(N'2021-08-13' AS Date), N'REDA', 12, NULL)
INSERT [dbo].[Previsions] ([id], [projet], [date], [Employee], [nb_mois], [client]) VALUES (36, N'web', CAST(N'2021-08-13' AS Date), N'MARSHALL', 12, NULL)
SET IDENTITY_INSERT [dbo].[Previsions] OFF
GO
/****** Object:  Trigger [dbo].[after_members_insert]    Script Date: 03/09/2021 12:44:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[after_members_insert]

ON [dbo].[Previsions] 

AFTER INSERT
AS DECLARE @EmpName VARCHAR(50)  , @Projet VARCHAR(50)

SELECT @EmpName = pr.Employee FROM Previsions pr;
SELECT @Projet = pr.projet FROM Previsions pr;

BEGIN
   
        INSERT INTO  stage.dbo.emplyerprojet VALUES(@Projet,@EmpName);
 
END
GO
ALTER TABLE [dbo].[Previsions] ENABLE TRIGGER [after_members_insert]
GO
/****** Object:  Trigger [dbo].[after_members_insert_test]    Script Date: 03/09/2021 12:44:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[after_members_insert_test]

ON [dbo].[Previsions] 

AFTER INSERT
AS DECLARE @EmpName VARCHAR(50)  , @Projet VARCHAR(50) , @Date date   , @idprojet int , @day int  , @startdate varchar(120) , @cnt int =0  

SELECT @EmpName = pr.Employee FROM Previsions pr;
SELECT @Projet = pr.projet FROM Previsions pr;
SELECT @Date = pr.date FROM Previsions pr;
SELECT @idprojet = pr.id FROM Previsions pr;
SELECT @Projet = pr.projet FROM Previsions pr;
select  @startdate = FORMAT(@Date, 'dddd') ;
select  @day =   pr.nb_mois from Previsions pr ; 

BEGIN
  WHILE @cnt < @day*31
    begin
	IF DATENAME(weekday, @Date) IN ('Saturday', 'Sunday')
             insert into stage.dbo.datahour values (@cnt+1 ,@EmpName ,   CONVERT(DATE,@Date)   , 0) ; 

ELSE IF DATENAME(weekday,@Date) IN ('Friday')
           insert into stage.dbo.datahour  values(@cnt+1 ,@EmpName ,   CONVERT(DATE,@Date), 7) ; 

	   ELSE 
	        insert into stage.dbo.datahour  values(@cnt+1 ,@EmpName ,   CONVERT(DATE,@Date) , 9) ; 




   set @Date=DATEADD(DAY, 1, @Date) ; 
   set @startdate = FORMAT(@Date, 'dddd') ;
   SET @cnt = @cnt + 1;
   end
END
GO
ALTER TABLE [dbo].[Previsions] ENABLE TRIGGER [after_members_insert_test]
GO
USE [master]
GO
